* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    left: 100px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: blue;

}

.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, white 35%);
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    position: relative;
    max-width: 1000px;
    color: white;
    text-align: left;
    margin-left: 570px;
    bottom: 22px;

}

.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
    
}

.home-content h3 {
    font-size: 30px;
    color: white;
    margin: 10px;

}

.home-content img {
    height: 200px;
    width: 350px;
}

.home-image {
    position: relative;
}

.img1 {
    position: absolute;
    height: 350px;
    bottom: 475px;
    left: 300px;

}

.img2 {
    position: absolute;
    height: 250px;
    width: 400px;
    bottom: 250px;
    left: 250px;
}

.img3 {
    position: absolute;
    height: 250px;
    width: 400px;
    bottom: 1px;
    left: 250px;
}