* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    left: 100px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: blue;

}

.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, white 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid white;
}

.home-image img {
    position: relative;
    max-width: 450px;
    bottom: 20px;
    right: 10px;

}

.home-content {
    max-width: 600px;
    color: white;
    text-align: right;

}

.home-content h1{
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3{
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: .5px white;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    background-clip: text;
    background-position: -570px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText {
    0%, 95%, 100% {
        background-position: -570x 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}




.home-content p {
    font-size: 16px;
    margin-top: 20px;
}

.btn {
    position: absolute;
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
    right: 195px;
    top: 600px;
}

.btn:hover {
    box-shadow: none;
}